[submodule "execution/crates/contracts/lib/forge-std"]
	path = execution/crates/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "execution/crates/eigenda/external/eigenda"]
	path = execution/crates/eigenda/external/eigenda
	url = https://github.com/Layr-Labs/eigenda.git
